* {
  box-sizing: border-box;
  
}

html,body {
  background-color: #ecaf87;
  background-image: url(http://static.frontendmasters.com/resources/2019-05-02-complete-intro-react-v5/image-background.png);
  margin: 0;
  font-family: "Montserrat";
  font-weight: 300;
  line-height: 1.5;
  height: 100%;
}
.root {
  min-height: 100%;
   position: relative;
  }

.header-wrap,
.main-wrap,
.footer-wrap
  {
    width: 85%;
   margin: auto; 
}

.header-wrapper,
.main-wrapper {
   padding: 5px;
   margin: 2px auto;  
  }

h1 {
  font-size: 70px;
  font-weight: 300;
  }

h2, h4 {
  font-size: 40px;
  font-weight: 250;
  font-family: "Montserrat";
}
p{
  font-size: 30px;
  font-style: normal;
  font-weight: 100;
}

header {
  background-color: #8998da;
 
  }

main {
    /* padding: 10px;  */
   padding-bottom: 30px;
  margin-right: 80px;
  margin-top: 10px;
  

  }

ul {
  margin-left: 15px;
  }

ul li {
  list-style: none;
  font-size: 20px;
  font-weight: 100;
}

 footer {
  position:absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background-color: #8998da;
      } 

.footer-wrapper {
  font-weight: 400;
  text-align: center;
  line-height: 10px;
  margin-bottom: inherit;
      }

